/* DEFAULT RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* HEADER */


.logo {
    line-height: 20px;
    font-size: 1.4em;
}


.logoboolean {
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: middle;
}


h1 {
    display: inline-block;
    margin-top: 10px;
    vertical-align: middle;
}

/* MAIN */


main {
    background-color: #f6f8f9;
    padding-top: 30px;
    height: 100vh;
}


.corpo {
    width: 50%;
    background-color: white;
    margin: auto;
}


.up {
    height: 50px;
}


.down {
    height: 70%;
}


.bottone {
    margin-left: 60px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
}


.bottone2 {
    color: #d3d8db;
    border-color: #d3d8db;
    background-color: white;
    border-radius: 5px;
}


#azzurro {
    background-color: rgb(71, 173, 241);
    border-collapse: collapse;
    border-color:  rgb(71, 173, 241);
    border-radius: 5px;
}


.ulprincipal {
    margin-left: 50px;
}

ul {
    list-style-type: none;
}

.frecce {
    font-size: 20px;
}

li {
    margin-left: 10px;
    margin-top: 20px;
}
h2 {
    margin-top: 5px;
}

.check {
    color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 45%;
    padding: 0 2px;
}

.cross {
    color: red;
    border: 1px solid red;
    border-radius: 45%;
    padding: 0 2px;
}

.etichetta {
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.azzurro {
    background-color: rgb(71, 173, 241);
}

.viola {
    background-color: blueviolet;
}

.verde {
    background-color: green;
}

.arancione {
    background-color: orange;
}

.rosso {
    background-color: red;
}

.verdechiaro {
    background-color: lightgreen;
}